<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block title %}
    <title>Register</title>
    {% endblock %}
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="col-span-1">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <div id="toast-container">
        {% for category, message in messages %}
        <div class="fixed toast-card alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
      </div>
      {% endwith %} {% block content %} {% endblock %}
    </div>

    <div class="flex h-screen items-center justify-center">
      <form
        action="{{url_for('auth.register')}}"
        method="POST"
        class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
      >
        <h1 class="text-lg font-semibold">Register New Account</h1>
        <label class="label">Username</label>
        <input
          type="text"
          class="input"
          placeholder="Username"
          name="username"
        />

        <label class="label">Email</label>
        <input type="email" class="input" placeholder="Email" name="email" />

        <label class="label">Password</label>
        <div class="relative w-full">
          <input
            id="password"
            type="password"
            class="input w-full pr-10"
            placeholder="Password"
            name="password"
            required
          />
          <button
            id="togglePassword"
            type="button"
            class="absolute inset-y-0 right-0 flex items-center pr-3 text-slate-500 hover:text-slate-700 cursor-pointer"
          >
            <!-- Added id="eyeIcon" here -->
            <span id="eyeIcon" class="material-symbols-outlined"
              >visibility</span
            >
          </button>
        </div>

        <button class="btn btn-success mt-4" type="submit">Register</button>

        <a
          class="flex justify-center font-semibold text-slate-600"
          href="{{ url_for('auth.login')}}"
          >Already have an account? Login here</a
        >
      </form>
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/toastMessage.js') }}"></script>
  <script src="{{ url_for('static', filename='js/passwordLogic.js') }}"></script>
</html>
